* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  display: flex;
  height: 100vh;
}
header a {
  text-decoration: none;
  color: blue;
}
header a:hover {
  background-color: rgb(75, 164, 216);
}
main {
  display: grid;
  background-color: rgb(36, 35, 35);
  width: 50%;
  height: 50%;
  gap: 10px;
  padding: 15px 130px 30px 40px;
  margin: auto;
  grid-template-areas:
    "b1 b1 b1 b2 b2"
    "b1 b1 b1 b2 b2"
    "b3 b3 b4 b4 b4"
    "b3 b3 b5 b5 b5";
}
.box1 {
  background-color: rgb(253, 95, 32);
  grid-area: b1;
}
.box2 {
  background-color: rgb(255, 196, 0);
  grid-area: b2;
}
.box3 {
  background-color: rgb(41, 179, 41);
  grid-area: b3;
}
.box4 {
  background-color: rgb(75, 164, 216);
  grid-area: b4;
}
.box5 {
  background-color: rgb(75, 164, 216);
  grid-area: b5;
}
